<h1>individual timeline<h1>
<a href="/">돌아가기</a>
<ul>
    <% @blogs.each do |b| %>
    <li><%=b.user.email%> : <%=b.content%>
    <ol>
    <% b.comments.each do |c| %>
        <li><%=c.user.email%> : <%=c.msg%></li>
    <%end%>
    </ol>
    </li>
    <%end%>
</ul>