<h1>individual timeline</h1>
<a href="/">돌아가기</a>

    <% @blogs.each do |b| %>
    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%=b.user.email%> : <%=b.content%></h3>
  </div>
  <div class="panel-body">
    <% b.comments.each do |c| %>
        <li><%=c.user.email%> : <%=c.msg%></li>
    <%end%>
  </div>
</div>
    <%end%>